const ENV = process.env.NODE_ENV || 'development';

module.exports = {
  config: 'config/database.js',
  'migrations-path': 'src/infra/database/migrations/dbname',
  'models-path': 'src/infra/database/models/dbname',
  'seeders-path': 'src/infra/database/seeds/dbname'
};
