local:
  DB_HOST: localhost
  DB_USERNAME: postgres
  DB_PASSWORD: postgres
  DB_DATABASE: users
  DB_DIALECT: postgres
  PORT: 3000
  NODE_ENV: local
  REGION: ap-southeast-1
  NODE_PATH: "."

dev:
  DB_HOST: localhost
  DB_USERNAME: postgres
  DB_PASSWORD: postgres
  DB_DATABASE: users
  DB_DIALECT: postgres
  PORT: 3000
  NODE_ENV: dev
  REGION: ap-southeast-1
  NODE_PATH: "."

test:
  DB_HOST: localhost
  DB_USERNAME: postgres
  DB_PASSWORD: postgres
  DB_DATABASE: users
  DB_DIALECT: postgres
  PORT: 3000
  NODE_ENV: test
  REGION: ap-southeast-1
  NODE_PATH: "."

prod:
  DB_HOST: localhost
  DB_USERNAME: postgres
  DB_PASSWORD: postgres
  DB_DATABASE: users
  DB_DIALECT: postgres
  PORT: 3000
  NODE_ENV: prod
  REGION: ap-southeast-1
  NODE_PATH: "."
